.CoachesPage {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.CoachContainer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.CoachCard {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* background-color: rgb(233, 233, 233); */
    background-color: white;
    min-height: 300px;
    width: 250px;
    margin: 5%;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
    opacity: .9;
}

.CoachCard:hover {
    opacity: 1;
    transform: scale(105%);
}

.CoachName {
    margin: 5% auto;
    font-weight: 600;
}

.coach-images {
    width: 100px;
    min-height: 150px;
}

.coach-body {
    margin: 5% auto;
}