.HeaderLogoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.CFT-headerlogo {
    height: 500%;
}

.navBar {
    display: flex;
    justify-content: space-around;
    border: 3px solid black;
    width: 90%;
    margin: auto;
}

.NavLinks {
    height: 100%;
    width: 100%;
    color: black;
    text-decoration: none;
    padding: 8px;
}

.NavLinks:hover {
    background-color: silver;
}

.NavLinks:active {
    background-color: red;
}