.ShopPage {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.ShopContainer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.ProductCard {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 300px;
    width: 250px;
    margin: 5%;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
    opacity: .9;
}

.ProductCard:hover {
    opacity: 1;
    transform: scale(105%);
}

.product-images {
    width: 100px;
    min-height: 150px;
}
