.ShopFormDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ShopForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.s {
    background-color: black;
    color: white;
    width: 300px;
    margin: 5px;
}

.submitbutton {
    border-color: red;
    background-color: red;
    color: white;
    margin: 10px;
}

.submitbutton:hover {
    border-color: rgb(250, 53, 53);
    background-color: rgb(250, 53, 53);
    
}

.submitbutton:active {
    border-color: red;
    background-color: red;
    transform: translateY(5px)
}