.ThankYouPage {
    background-color: black;
    color: white;
    display: flex;
    height: 97vh;
    justify-content: center;
    flex-direction: column;
}

.ty-header {
    font-size: 3em;
}

.ty-body {
    font-size: 1.5em;
    padding: 3% auto;
}

.ig-hyperlink {
    color: red;
    text-decoration: none;
}